.contacts_container h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.contacts_container p{
    line-height: 26px;
    font-size: 16px;
}

.contacts_container{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
}

.contacts_wrap{
    width: 100%;
    display: inline-grid;
    grid-template-columns: 45% 45%;
    grid-gap: 5%;
}

.contact_form input, .contact_form textarea{
    font-size: 16px;
    width: 100%;
    border: 1px solid rgba(39,68,86,0.5);
    border-radius: 2px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact_form textarea{
    height: 200px;
    resize: none;
}


.contact_form input:focus{
    border: 1px solid rgba(39,68,86,0.5);
    outline: none; 
}

.contact_form textarea:focus{
    border: 1px solid rgba(39,68,86,0.5);
    outline: none; 
}

.contact_form input[type='submit']{
    background-color: rgb(20,140,150);
    color: rgb(247,247,247);
    border: 1px solid rgb(20,140,150);
    font-weight: bold;
}

.other_contacts{
    display: flex;
    flex-direction: column;
}

.additional_contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.additional_contact img{
    width: 30px;
    margin-right: 10px;
}

.additional_contact a{
    text-decoration: none;
}


.additional_contact p{
    margin: 0;
}

.additional_contact .icon_container{
    display: flex;
    align-items: center;
}

.c_container{
    display: grid;
    grid-gap: 7px;
}


@media screen and (max-device-width: 600px) {
    .contacts_container{
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .contacts_wrap{
        width: 100%;
        display: inline-grid;
        grid-template-columns: 100%;
        grid-gap: 0;
    }
    
}


