.error_container h1{
    text-align: left;
    margin-bottom: 20px;
}

.error_container p{
    line-height: 26px;
    font-size: 16px;
}

.error_container li{
    line-height: 26px;
    font-size: 16px;
    margin-top: 14px;
}

.error_container{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
    word-wrap: break-word;
}

.error_info{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
}

.error_info h2{
    text-align: center;
}

.error_image, .error_text{
    display: flex;
    align-items: center;
}

.error_image, .error_text_wrap{
    text-align: center;
}

.error, .error_text_content{
    width: 100%;
    max-width: 800px;
    display: inline-block;
    text-align: left;
}

@media screen and (max-device-width: 768px){
    .error_info{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-device-width: 600px) {
    .error_container{
        padding-left: 30px;
        padding-right: 30px;
    }
}


