.moderator_container h1{
    text-align: left;
    margin-bottom: 20px;
}

.moderator_container p{
    line-height: 26px;
    font-size: 16px;
}

h3{
    margin: 0px;
    margin-bottom: 10px;
}

.disease_block{
    margin-bottom: 20px;
}

.moderator_container li{
    line-height: 26px;
    font-size: 16px;
    margin-top: 14px;
}

.moderator_container{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
    word-wrap: break-word;
}

.moderator_info{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 47.5% 47.5%;
    grid-gap: 5%;
}

.moderator_info h2{
    text-align: center;
}

.moderator, .moderator_text_content{
    width: 100%;
    max-width: 800px;
    display: inline-block;
    text-align: left;
}

.moderator_image_wrap{
    text-align: center;
}

.login{
    display: inline-block;
    width: 100%;
}

.symptom_autofillment, .disease_name_autofillment, .habit_autofillment, .risk_group_autofillment{
    text-align: left;
}


.autofill_symptom, .autofill_disease_name, .autofill_habit, .autofill_risk_group{
    cursor: pointer;
    margin: 0px;
    padding: 0;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(20,140,150);
}


input{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 0;
    overflow: hidden;
    display: inline-block;
    border-bottom: 1px solid rgb(20,140,150);
}

input[type='checkbox']{
    width: auto;
}

input:focus{
    border-color: rgb(247,247,247);
    border-style: solid;
    border-width: 1px;
    outline: none; 
}

input[type='text'],input[type='password'], input[type='number']{
    background-color: rgb(220,220,220);
}

input[type="button"]{
    color: white;
    background-color: rgb(20,140,150);
    position: relative;
}

input[type="button"]{
    cursor: pointer;
}

.disease_name{
    width: 100%;
    overflow-x: hidden;
}

.risk_group_affect{
    overflow: hidden;
}

.disease_symptoms_input, .risk_affect_input{
    border-radius: 1px;
    display: inline-grid;
    width: 100%;
    position: relative;
    grid-template-columns: 85% 15%;
    border-bottom: 1px solid rgb(20,140,150);
}

.disease_symptoms_input input, .risk_affect_input input{
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 0;
    overflow: hidden;
}

.risk_affect_input input[type='text']{
    background-color: rgb(240,240,240);
}

.body_structure{
    width: 100%;
    max-width: 100%;
}

.body_part{
    cursor: pointer;
}

.body_structure .selected_body_part{
    fill-opacity: 0.3 !important;
    fill: rgb(43,76,226) !important;
}

.body_part:hover{
  cursor: pointer;
  fill-opacity: 0.3;
  fill: rgb(240,240,200);
}

.gender_associavity_container{
    display: grid;
    grid-gap: 10%;
    overflow: hidden;
    grid-template-columns: 45% 45%;
}

.gender_associavity_container p{
    margin: 0;
    overflow: hidden;
}

.age_affect_container {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: 32% 32% 32%;
}

.age_affect section{
    overflow: hidden;
}

.age_affect p{
    margin: 0;
}


.probability_container{
    display: inline-grid;
    grid-template-columns: 49% 49%;
}

.age_affect_table, .habit_affect_table, .risk_affect_table{
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}


.age_affect_table tr, .habit_affect_table tr, .risk_affect_table tr{
    width: 100%;
}


.age_affect_table td, .habit_affect_table td, .risk_affect_table td{
    padding: 10px;
    text-align: center;
}

.habit_affect_container{
    overflow: hidden;
    display: grid;
    grid-gap: 1%;
    grid-template-columns: 68% 15% 15%;
}

.weight_affect_container section{
    overflow: hidden;
}


.habit_affect_container section{
    overflow: hidden;
}

.remove_age_probability, .remove_habit_affect, .remove_risk_group_affect{
    cursor: pointer;
}

.age_affect_table tr:nth-child(2n), .habit_affect_table tr:nth-child(2n), .risk_affect_table tr:nth-child(2n) {
    background-color: rgba(230,230,230,0.5);
}

.age_affect_table tr:nth-child(2n-1), .habit_affect_table tr:nth-child(2n-1), .risk_affect_table tr:nth-child(2n-1){
    background-color: rgb(210,210,210,0.5);
}


.age_affect_table thead, .habit_affect_table thead, .risk_affect_table thead{
    font-weight: bold;
    background-color: rgb(210,210,210);
}


.loaderContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    display: none;
    align-items: center;
    background-color: rgba(240,240,240,0.5);
    z-index: 1000;
}

.loaderSection{
    text-align: center;
    width: 100%;
}

.loaderSection img{
    width: 64px;
    border-radius: 0.3em;
}

input[type='submit']{
    background-color: rgb(20,140,150);
    color: white;
    font-weight: bold;
    cursor: pointer;
}


@media screen and (max-device-width: 768px){
    .moderator_info{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-device-width: 600px) {
    .moderator_container{
        padding-left: 30px;
        padding-right: 30px;
    }
}


