.policy_container h1{
    text-align: left;
    margin-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.policy_container p{
    line-height: 26px;
    font-size: 16px;
}


.policy_container li{
    line-height: 26px;
    font-size: 16px;
    margin-top: 14px;
}

.policy_container h2{
    margin-top: 60px;
}

.policy_container{
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 60px;
    word-wrap: break-word;
}


@media screen and (max-device-width: 600px) {
    .policy_container{
        padding-left: 30px;
        padding-right: 30px;
    }
}


